<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.java_squad">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaSquad">
        <activity android:name=".Statistic_RecordMeasurementTrial"
            android:label="Statistic for Measurement Trial"></activity>
        <activity android:name=".Statistic_RecordIntCountTrial"
            android:label="Statistic for Integer Count Trial"/>
        <activity android:name=".Statistic_RecordCountTrial"
            android:label="Statistic for Count Trial"/>
        <activity android:name=".Statistic_RecordBinomialTrial"
            android:label="Statistic for Binomial Trial"/>
        <activity
            android:name=".ViewFollowActivity"
            android:parentActivityName=".SearchActivity" />
        <activity android:name=".EditProfileActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ExperimentView" />
        <activity android:name=".ShowAllFollowedExperiments"
            android:label="Followed Experiments"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".RecordMeasurementTrial"
            android:parentActivityName=".ShowAllFollowedExperiments" />
        <activity
            android:name=".RecordCountTrial"
            android:parentActivityName=".ShowAllFollowedExperiments" />
        <activity
            android:name=".RecordBinomialTrial"
            android:parentActivityName=".ShowAllFollowedExperiments" />
        <activity
            android:name=".RecordIntCountTrial"
            android:parentActivityName=".ShowAllFollowedExperiments" />
        <activity android:name=".ExperimentConstructor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>