<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.java_squad">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaSquad">
        <activity android:name=".BarcodeSetupActivity"></activity>
        <activity android:name=".BarcodeActivity" />

        <activity android:name=".ViewReplyActivity"></activity>
        <activity
            android:name=".ViewQuestionActivity"
            android:parentActivityName=".ShowAllFollowedExperiments" />

        <activity
            android:name=".ViewFollowActivity"
            android:parentActivityName=".SearchActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ExperimentView" />
        <activity android:name=".ShowAllFollowedExperiments" />
        <activity android:name=".RecordMeasurementTrial"
            android:parentActivityName=".ShowAllFollowedExperiments"/>
        <activity android:name=".RecordCountTrial" 
            android:parentActivityName=".ShowAllFollowedExperiments"/>
        <activity android:name=".RecordBinomialTrial" 
            android:parentActivityName=".ShowAllFollowedExperiments"/>
        <activity android:name=".RecordIntCountTrial" 
            android:parentActivityName=".ShowAllFollowedExperiments"/>

        <activity android:name=".ExperimentConstructor"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Geo.MapsActivity"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" />
    </application>

</manifest>